body {
	background-color: #CFCFA6;
}

h1 {
	color: red;
	text-align: center;
	font-family: 'Helvetica Neue';
}

p {
	text-align: center;
	font-family: 'Garamond';
}

ul {
	font-family: 'Garamond';
	list-style-type: none;
	text-align: center;
}

a {
	color: #3E3E32;
}
